@import "../colors";

svg.logo {
    * {
        stroke: white;
        fill: $blue;
        stroke-width: 2;
    }
    
    .clockface {
        fill: white;
    }

    .text {
        *{
            fill: $orange;
            stroke: $blue;
        }
    }
}