svg.logo {
    * {
        stroke: white;
        fill: #00ACC1;
        stroke-width: 2;
    }
    
    .clockface {
        fill: white;
    }

    .text {
        *{
            fill: #FC9209;
            stroke: #00ACC1;
        }
    }
}