@import "../../base";

.input {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 1.5em;
    * {
        color: $black;
    }

    > input {
        padding-left: 1em;
        padding-right: 1em;
        background: none;
        outline: none;
        border: none;
        height: 100%;
        border-bottom: .05em $black solid;
    }

    > .border {
        position: absolute;
        background-color: $black;
        transition: all .3s linear;
    
        &.bot {
            transform-origin: 50% 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: .1em;
            transform: scaleX(0);
            background-color: $black;
        }
    }
}

.input.dark {
    * {
        color: $white;
    }

    > input {
        border-bottom: .05em $white solid;
    }

    > .border {
    
        &.bot {
            background-color: $blue;
        }
    }
}

.input > input:focus, .input > input:active {

    ~ .bot {
        transform: scaleX(1);
        background-color: $blue;
    }
}