@import "../../base";

.input {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 1.5em;
    color: $black;

    > input {
        padding-left: 1em;
        padding-right: 1em;
        background: none;
        outline: none;
        border: none;
        height: 100%;
    }

    > .border {
        position: absolute;
        background-color: $black;
        transition: all .3s linear;

        &.top {
            transform-origin: right center;
            transform: scaleX(0);
            top: 0;
            left: 0;
            right: 0;
            height: .1em;
        }
    
        &.right {
            transform-origin: center top;
            transform: scaleY(0);
            top: 0;
            right: 0;
            bottom: 0;
            width: .1em;
        }
    
        &.bot {
            transform-origin: left center;
            left: 0;
            right: 0;
            bottom: 0;
            height: .1em;
            background-color: $black;
        }
    
        &.left {
            transform-origin: center bottom;
            transform: scaleY(0);
            left: 0;
            top: 0;
            bottom: 0;
            width: .1em;
        }
    }
}

.input > input:focus, .input > input:active {

    ~ .border{
        background-color: $blue;
    }
    ~ .top {
        transform: scaleX(1);
    }

    ~ .right {
        transform: scaleY(1);
    }

    ~ .bot {
        transform: scaleX(1);
        background-color: $blue;
    }

    ~ .left {
        transform: scaleY(1);
    }
}

.input.dark {
    > input {
        color: $blue;
    }

    > .border {
            
        &.bot {
            background-color: $blue;
        }
    }
}