.app-container {
    height: 100%;
    display: flex;

    .menu-container {
        flex-grow: 0;
        min-width: 10em;
        background-color: #323131;
        box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }

    .route-container {
        flex-grow: 1;
    }
}